[Unit]
Description=pug-3-server-hook

[Service]
ExecStart=/var/www/pug-3-server-hook/app.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/pug-3-server-hook

[Install]
WantedBy=multi-user.target