[Unit]
Description=pug-3-server-hook
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/pug-3-server-hook/app.js
Restart=always
User=pi

[Install]
WantedBy=multi-user.target